body {
    font-family: "Helvetica";
}

h1 {
    vertical-align: middle;
}
 .prijava{
 	float: right;
 	padding-right: 15%;
 	display: flex;
 	justify-content: space-between;
 }
 
 #prijavaG{
 	color: black;
 	text-decoration: none;
 }
.glavca{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-left: 10%;
	padding-right: 10%;
	width: 80%;
	background-color: #660066;
}

.glavca2{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* SEARCH */
.searchB{
 	width: 450px;
 	display: flex;
 	justify-content: center;
 	vertical-align: middle;
 	white-space: nowrap;

}

.searchB input#search{
  width: 450px;
  height: 40px;
  background: #ffffff;
  border: none;
  font-size: 12pt;
  float: left;
  color: #63717f;
  padding-left: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;

}

#magglass{
background-image: linear-gradient(#DDCE36, #BDAD13);
filter: progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#DDCE36', EndColorStr='#BDAD13');
transition: all .55s ease;
 border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
 border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
float: left;
 height: 40px;
 width: 50px;
 color: #ffffff;
 font-size: 12pt;
}

#magglass:hover {
	background-image: linear-gradient(#DDCE36, #796E00);
filter: progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#DDCE36', EndColorStr='#796E00');

}
#magglass:active {
	background-image: linear-gradient(#BDAD13, #DDCE36);
filter: progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#BDAD13', EndColorStr='#DDCE36');
}

#kos{
	text-decoration: none;
	color: white;
	/*vertical-align: middle;*/
	float: center;
	font-size: 13;
}

#meni{
	text-decoration: none;
	color: white;
	/*vertical-align: middle;*/
	float: center;
	font-size: 13;
	padding: 10px;
}

.kosarica{
	border-radius: 5px;
	padding: 10px;
	vertical-align: middle;
}

.kosarica:hover {
	background-color: #4F004F;
	
}

.meniji{
	display: flex;
	padding-left: 30%;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	background-color: #660066;
}
.bigPic{
	margin: 10px;
	display: flex;
	justify-content: center;
}
.othrPic{
	display:flex;
	justify-content: center;
}
footer { 
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: lightblue;
    margin-top: 10px;
}
.Ppri{
	margin: auto;
	display: flex;
	flex-direction: column;
	border: 3px solid #f1f1f1;
	width: 30%;
	padding: 10px;
	line-height: 30px;
}
.PpriReg{

	display: flex;
	justify-content: space-around;
	align-items: center;
}
.Ppri2{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: lightblue;
	line-height: 30px;
}

.seznam{
	display: flex;
	flex-direction: column;
	justify-content: 

}

.artikelZgori{
	margin: 20px;
	display: flex;
	justify-content: space-around;
}

.artikelPodatki{
	display: flex;
	flex-direction: column;
}

.artikelCena{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	line-height: 50px;
	padding: 10px;
	border: 3px solid #f1f1f1;


}
.kosarica{
	display: flex;
	justify-content: space-around;
}

.kosaricaSeznam{
	display: flex;
	flex-direction: column;

}

.kosaricaArtikel{
	display: flex;
	flex-direction: column;
	border: 3px solid #f1f1f1;
	padding: 10px;
}
.kosaricaArtikel2{
	display: flex;
	justify-content: space-around;
	
}

.kosaricaCena{
	display: flex;
	padding: 10px;
	flex-direction: column;
	border: 3px solid #f1f1f1;

}

.kosaricaOdstrani{
	display: flex;
	justify-content: flex-end;
}

.blagajna{
	display: flex;
	justify-content: space-around;
}
.blagajna2{
	display: flex;
	flex-direction: column;
}

.blagajnaPovzetek{
	display: flex;
	flex-direction: column;
	border: 3px solid #f1f1f1;
	padding: 10px;
}

.razvrsti{
	display: flex;
	justify-content: flex-end;
}

.filtri{
	direction: flex;
	flex-direction: column;
	border: 3px solid #f1f1f1;
	padding: 10px;
}
.leto{
	display: flex;
}

.zbirka{
	display: flex;
	justify-content: space-around;
}

.nastavitve{
	display: flex;
	flex-direction: column;
	width: 50%;
	border: 3px solid #f1f1f1;
	padding: 10px;
}

.domacaAdmin{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.domacaAdmin2{
	display: flex;
	justify-content: center;
}

.izdelki{
	display: flex;
	flex-direction: column;
	border: 3px solid #f1f1f1;
	padding: 10px;
}

.poslovalnica{
	display: flex;
	flex-direction: column;
	margin-left: 35%;
	width: 30%;
	border: 3px solid #f1f1f1;
	padding: 10px;
}

.artikelPodrobnosti{
	display: flex;
	flex-direction: row;
}
.artikelPodrobnosti2{
	display: flex;
	flex-direction: column;
}

.artikelNov{
	border: 3px solid #f1f1f1;
	padding: 10px;
}

.narocila{
		display: flex;
	flex-direction: column;
}
.narocila2{
		display: flex;
		border: 3px solid #f1f1f1;
		padding: 10px;
}