body {
    font-family: "Helvetica";
}

h1 {
    vertical-align: middle;
   text-align: center;
}

 
.glavca{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-left: 10%;
	padding-right: 10%;
	width: 80%;
	background-color: #660066;
}

.glavca2{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* SEARCH */
.searchB{
 	width: 450px;
 	display: flex;
 	justify-content: center;
 	vertical-align: middle;
 	white-space: nowrap;

}

.searchB input#search{
  width: 450px;
  height: 40px;
  background: #ffffff;
  border: none;
  font-size: 12pt;
  float: left;
  color: #63717f;
  padding-left: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;

}

#magglass{
background-image: linear-gradient(#DDCE36, #BDAD13);
filter: progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#DDCE36', EndColorStr='#BDAD13');
transition: all .55s ease;
 border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
 border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
float: left;
 height: 40px;
 width: 50px;
 color: #ffffff;
 font-size: 12pt;
}

#magglass:hover {
	background-image: linear-gradient(#BDAD13, #DDCE36);
filter: progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#BDAD13', EndColorStr='#DDCE36');


}
#magglass:active {
	    background-color: #796E00;
}

#kos{
	text-decoration: none;
	color: white;
	/*vertical-align: middle;*/
	float: center;
	font-size: 13;
}

#meni{
	text-decoration: none;
	color: white;
	/*vertical-align: middle;*/
	float: center;
	font-size: 13;
	padding: 10px;
}

.kosarica{
	border-radius: 5px;
	padding: 10px;
	vertical-align: middle;
}

.kosarica:hover {
	background-color: #4F004F;
	
}

.meniji{
	display: flex;
	padding-left: 30%;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	background-color: #660066;
}
.bigPic{
	margin: 10px;
	display: flex;
	justify-content: center;
}
.othrPic{
	display:flex;
	justify-content: center;
}
footer { 
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: lightblue;
    margin-top: 10px;
}
/*PRIJAVA IN REGISTRACIJA*/

#prijavi{
	display: block;	
	padding-left: 15px;
	padding-right: 15px;
}
#registriraj{	
	display: none;
	padding-left: 15px;
	padding-right: 15px;

}

#containerPri{
	margin: auto;
	display: flex;
	flex-direction: column;
	border: 1px solid #cccccc;
	width: 30%;
	padding-bottom: 15px;
	line-height: 30px;
	border-radius: 3px;
}
#PpriReg{
	display: flex;
}

#PpriReg button{
	text-decoration: none;
	padding: 10px;
	margin: 0px;
	color: grey;
	font-weight: normal;
	background-color: white;
	cursor: pointer;
	outline: 0;
	width: 100%;
	font-size: 17px;
}

#PpriReg button{
	border:none;
	padding: 10px;
	border-bottom: 1px solid #cccccc;
	width: 100%;
}
#PpriReg #gPrijava{
	border-right: 1px solid #cccccc;
	border-bottom: none;
	color: #330033;
}

#PpriReg #gRegistracija{

	background-color: #dbdbdb;
}

#PpriReg button input:active{
	border-color: red;
	padding: 10px;
	width: 100%;
}
#containerPri input:not([type="checkbox"]){
	width: 95%;
	margin-top: 4px;
	padding: 10px 5px 10px 10px;	
	border: 1px solid #a3a3a3;
	box-sizing : content-box;
	border-radius: 3px;
	transition: all 0.2s linear;
}
#containerPri input:not([type="checkbox"]):active,
#containerPri input:not([type="checkbox"]):focus{
	border: 1px solid #796E00;
	background: rgba(238, 236, 240, 0.2);	
	box-shadow: 0px 1px 4px 0px #796E00 ;
} 
 #containerPri p.button input{
 	background-image: linear-gradient(#DDCE36, #BDAD13);
	filter: progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#DDCE36', EndColorStr='#BDAD13');
	width: 95%;
	cursor: pointer;	
	color: #000000;
	font-size: 15px;	
	margin-bottom: 10px;	
	border-radius: 3px;	

	transition: all 0.2s linear;
}
#containerPri p.button input:hover{
	background: #BDAD13;
}	
#containerPri p.button input:active,
#containerPri p.button input:focus{
	background: #BDAD13;
	position: relative;
	top: 1px;

}

.keeplogin input,
.keeplogin label{
	font-size: 12px;	
}
.keeplogin input#loginkeeping{
	margin-right: 5px;
}
.keeplogin label{
	width: 80%;
}
#containerPri p.pozGeslo a:hover,
#containerPri p.pozGeslo a:active{
	font-size: 12px;
	text-decoration: underline;
	color: black;
}
#containerPri p.pozGeslo a{
	font-size: 12px;
	text-decoration: none;
	color: black;
}

.Ppri2{
	margin-top: -30px;
	margin-bottom:-20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 30px;
}

.seznam{
	display: flex;
	flex-direction: column;
	justify-content: 

}

.artikelZgori{
	margin: 20px;
	display: flex;
	justify-content: space-around;
}

.artikelPodatki{
	display: flex;
	flex-direction: column;
}

.artikelCena{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	line-height: 50px;
	padding: 10px;
	border: 3px solid #f1f1f1;


}
.kosarica{
	display: flex;
	justify-content: space-around;
}

.kosaricaSeznam{
	display: flex;
	flex-direction: column;

}

.kosaricaArtikel{
	display: flex;
	flex-direction: column;
	border: 3px solid #f1f1f1;
	padding: 10px;
}
.kosaricaArtikel2{
	display: flex;
	justify-content: space-around;
	
}

.kosaricaCena{
	display: flex;
	padding: 10px;
	flex-direction: column;
	border: 3px solid #f1f1f1;

}

.kosaricaOdstrani{
	display: flex;
	justify-content: flex-end;
}

.blagajna{
	display: flex;
	justify-content: space-around;
}
.blagajna2{
	display: flex;
	flex-direction: column;
}

.blagajnaPovzetek{
	display: flex;
	flex-direction: column;
	border: 3px solid #f1f1f1;
	padding: 10px;
}

.razvrsti{
	display: flex;
	justify-content: flex-end;
}

.filtri{
	direction: flex;
	flex-direction: column;
	border: 3px solid #f1f1f1;
	padding: 10px;
}
.leto{
	display: flex;
}

.zbirka{
	display: flex;
	justify-content: space-around;
}

.nastavitve{
	display: flex;
	flex-direction: column;
	width: 50%;
	border: 3px solid #f1f1f1;
	padding: 10px;
}

.domacaAdmin{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.domacaAdmin2{
	display: flex;
	justify-content: center;
}

.izdelki{
	display: flex;
	flex-direction: column;
	border: 3px solid #f1f1f1;
	padding: 10px;
}

.poslovalnica{
	display: flex;
	flex-direction: column;
	margin-left: 35%;
	width: 30%;
	border: 3px solid #f1f1f1;
	padding: 10px;
}

.artikelPodrobnosti{
	display: flex;
	flex-direction: row;
}
.artikelPodrobnosti2{
	display: flex;
	flex-direction: column;
}

.artikelNov{
	border: 3px solid #f1f1f1;
	padding: 10px;
}

.narocila{
		display: flex;
	flex-direction: column;
}
.narocila2{
		display: flex;
		border: 3px solid #f1f1f1;
		padding: 10px;
}