/*OSNOVNO*/
* {    box-sizing: border-box; margin: 0; padding: 0; }
body{	font-family: "Helvetica";	color: #312F1A;	line-height: 1.5;	text-align: left; }
a{	text-decoration: none; color: #312F1A;}
.wrapper{	width: 93%;		max-width: 920px;	margin: auto;	padding: 2%;}
.header{	width: 100%;	clear: both;	margin: 0 auto;	background-color: #5C496E;}
.header2{	width: 100%;	clear: both;	margin: 0 auto;	background-color: #d7a528;}
.body{	margin: 0 auto;	margin-top: 40px; margin-bottom: 40px; width: 60%;	clear: both; /*border: 1px solid black;*/}
.footer { 	position : relative;    bottom : 0;    font-size: 12px;    width: 100%;    background-color: #B0AE99;    margin-top: 10px;  
 			 padding-top: 15px;    padding-bottom: 15px;    clear:both;    margin: 0 auto;}
.container-footer{	/*border: 1px solid black;*/	clear:both;	margin: 0 auto;}
.glavca{	/*border: 1px solid white;*/	clear: both;	margin: 0 auto;	padding-top: 15px;}
.glavca a{	color: white;}	.glavca a:hover{	text-decoration: underline;	}
.glavca.meni{margin-top: -5px; margin-bottom: -10px;}
.glavca.osebno{background: #d7a528; padding-top: 5px; margin-bottom: -10px;}
.block2.osebno{margin-right: -40px; font-weight: normal;}
.block{ width: 20%; /*border: 1px solid white;*/}.block.prij{ padding-top: 5px; }.block2 a{	padding-right: 40px;}
.index-kosarica{padding: 0px 0px 0px 0px; margin-top: -5px;}.index-kosarica:hover{ text-decoration: underline; text-decoration-color: white;}
.cart{	padding-right: 15px; }.cart-text {	margin-top: 7px;	font-weight: bold;}
.block img{ width: 100px; height: auto; }
/*MEDIA QUERY*/
@media screen and (min-width: 320px) {
    .body {		width: 95%;              background-color: red;}
    .glavca{	width: 95%; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;}
    .container-footer{	width: 95%; font-size: 10px;}
    .block.prij{display: inline; width: 60%; color: white;}
    .block.index-kosarica{display: inline; width: 60%; padding-top: 10px; padding-bottom: 5px;}
    .block2{	width: 100%;}
    .featured{display: flex;flex-direction: column;} .gumb.oranzen.featured{width: 40%;} .gumb.featured.less{width: 45%;}
    .artikel-posamezen{display: flex; flex-direction: column; height: 360px;}
    .seznam2{display: flex; flex-direction: column;}
    .zgori{display: flex; flex-direction: column;}
    .kosaravse{display: flex; flex-direction: column;}
    .seznam.kosarica{width: 100%;}
      .seznam.zelje, .seznam.nastavitve{width: 100%;}
       .zeljeArtikel{display: flex; flex-direction: column;justify-content: space-between;}

}
@media screen and (min-width: 480px) {
    .body {   	width: 90%;        background-color: lightgreen;}
    .glavca{	width: 90%; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;}
    .container-footer{	width: 90%; font-size: 10px;}
  	.block.prij{display: inline; width: 40%; color: white;}
    .block.index-kosarica{display: inline; width: 60%; padding-top: 10px; padding-bottom: 5px;}
    .block2{	width: 100%;}
    .featured{display: flex;flex-direction: column;} .gumb.oranzen.featured{width: 40%;} .gumb.featured.less{width: 45%;}
    .artikel-posamezen{display: flex; flex-direction: column; height: 360px;}
    .seznam2{display: flex; flex-direction: column;}
    .zgori{display: flex; flex-direction: column;}
    .kosaravse{display: flex; flex-direction: column;justify-content: space-between;}
    .seznam.kosarica{width: 100%;}
      .seznam.zelje, .seznam.nastavitve{width: 90%;}
       .zeljeArtikel{display: flex; flex-direction: column;justify-content: space-between;}

}
@media screen and (min-width: 768px) {
    .body {    	width: 90%;        background-color: navy;}
    .glavca{		width: 90%; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;}
    .container-footer{	width: 90%; font-size: 12px; }
    .block.prij{display: inline; width: 40%;}
    .block.index-kosarica{display: inline; width: 60%; padding-top: 10px; padding-bottom: 5px;}
    .block2{	width: 100%;}
    .featured{display: flex;flex-direction: column;} .gumb.oranzen.featured{width: 40%;} .gumb.featured.less{width: 45%;}
    .artikel-posamezen{display: flex; flex-direction: row; height: 180px;}
    .zgori{display: flex; flex-direction: column;}
    .kosaricaSkupaj{width:30%;}
    .kosaravse{display: flex; flex-direction: row;justify-content: space-between;}
    .seznam.kosarica{width: 70%;}
    .seznam.zelje{width: 90%;}
     .zeljeArtikel{display: flex; flex-direction: row;justify-content: space-between;}
    /* .seznam.zelje{width: 70%;}*/


}
@media screen and (min-width: 992px) {
    .body {     width: 80%;         background-color: yellow;}
    .glavca{	width: 80%; display: flex; flex-direction: row; justify-content: center;}
    .container-footer{	width: 80%; font-size: 12px;}
    .block.prij{display: flex; justify-content: flex-end; width: 20%;}
    .block.prij a, .block.prij label{ margin-left:10px; color: white;}
    .block.index-kosarica{display: flex;justify-content: flex-end; width:20%; padding-top: 0px; padding-bottom: 0px;}
    .block2{	width: 60%;}
    .featured{display: flex;flex-direction: row;} .gumb.oranzen.featured{width: 100%;} .gumb.featured.less{width: 45%;}
    .artikel-posamezen{display: flex; flex-direction: row; height: 180px;}
    .zgori{display: flex; flex-direction: row;}
    .artikelPodatki{margin-left: 20px;}
    .kosaricaSkupaj{width:30%;}
    .kosaravse{display: flex; flex-direction: row;justify-content: space-between;}
    .seznam.kosarica{width: 70%;}
    .seznam.zelje{width: 80%;}
     .zeljeArtikel{display: flex; flex-direction: row;justify-content: space-between;}
     .seznam.zelje{width: 70%;}
}
@media screen and (min-width:1224px) { 
	.body {      width: 70%;        background-color: pink;}
    .glavca{	width: 70%; display: flex; flex-direction: row; justify-content: center;}
    .container-footer{	width: 70%; font-size: 12px;}
    .block.prij{display: flex;justify-content: flex-end; width: 20%;}
    .block.prij a, .block.prij label{ margin-left:10px;  color: white;}
    .block.index-kosarica{display: flex;justify-content: flex-end; width:20%; padding-top: 0px; padding-bottom: 0px;}
    .block2{	width: 60%;}
    .index-featured{width: 70%;}  	.featured{display: flex;flex-direction: row;} .gumb.oranzen.featured{width: 100%;} .gumb.featured.less{width: 45%;}
    .artikel-posamezen{display: flex; flex-direction: row; height: 180px;}
    .zgori{display: flex; flex-direction: row;}
    .artikelPodatki{margin-left: 20px;}
    .kosaricaSkupaj{width:30%;}
    .kosaravse{display: flex; flex-direction: row;justify-content: space-between;}
    .seznam.kosarica{width: 70%;}
    .seznam.zelje{width: 80%;}
     .zeljeArtikel{display: flex; flex-direction: row;justify-content: space-between;}
     .seznam.zelje{width: 70%;}
}
@media screen and (min-width: 1800px) {
    .body {      width: 60%;        background-color: white;}
    .glavca{	width: 60%; display: flex; flex-direction: row; justify-content: center;}
    .glavca.meni{justify-content: flex-start;}
    .container-footer{	width: 60%; font-size: 12px;}
    .block.prij{display: flex;justify-content: flex-end; width: 20%;}
    .block.prij a, .block.prij label{ margin-left:10px; color: white;}
  	.block.index-kosarica{display: flex;justify-content: flex-end; width:20%; padding-top: 0px; padding-bottom: 0px;}
  	.block2{	width: 60%;}
  	.index-featured{width: 60%;}  	.featured{display: flex;flex-direction: row;} .gumb.featured{width: 100%;} .gumb.featured.less{width: 45%;}
  	.artikel-posamezen{ height: 180px;} 
  	.zgori{display: flex; flex-direction: row;}
    .kosaricaSkupaj{width:20%;}
    .kosaravse{display: flex;flex-direction: row; justify-content: space-between;}
    .seznam.kosarica{width: 70%;}
    .seznam.zelje, .seznam.nastavitve{width: 70%;}
    .zeljeArtikel{display: flex; flex-direction: row;justify-content: space-between;}
    
}

/*FLEX*/
.flex-row{	display: flex;}
.flex-col{	display: flex;	flex-direction: column;}
.flex-col-sp-around{display: flex;flex-direction: column;justify-content: space-around;}
.flex-col-sp-between{display: flex;flex-direction: column;justify-content: space-between;}
.flex-col-center{display: flex;flex-direction: column;justify-content: center;}
.flex-sp-around{ display: flex; justify-content: space-around; }
.flex-sp-between{ display: flex; justify-content:space-between; }
.flex-center{ display: flex; justify-content:center; }
.flex-end{	display: flex; justify-content: flex-end;}

/*NASLOVI*/
h2{	margin-top: 7px;	margin-bottom: 15px; font-weight: normal;	font-size: 28px;}
h3{font-size: 22px;	font-weight: normal;	margin-top: 0px; margin-bottom: 15px;}

/*VNOSNO POLJE*/
.polje{	font-family: "Helvetica";	background: #ffffff; text-decoration: none;	color: grey;	font-weight: normal;	background-color: white;	outline: 0;
	border-bottom: 1px solid #cccccc;	padding: 10px 5px 10px 10px;	border: 1px solid #a3a3a3;	box-sizing : content-box;	transition: all 0.2s linear;}
.polje:active,.polje:focus{	border: 1px solid #F0BE41;	background: #ffffff;	border: 1px solid #F0BE41;	box-shadow: 0px 1px 4px 0px #F0BE41 ;}

/*GUMB*/
.gumb {	border: 1px solid #cccccc;	box-sizing : content-box; color: #312F1A; transition: all 0.2s linear;	cursor: pointer; padding: 5px;}
.gumb.modr{	background-image: linear-gradient(#444b5e, #2b3245);}
.gumb.modr:hover{	background-image: linear-gradient(#444b5e, #11182b);}
.gumb.modr:active{	background: #11182b;}
.gumb.svmodr{	background-image: linear-gradient(#777E91, #5E6578);}
.gumb.svmodr:hover{	background-image: linear-gradient(#777E91, #444b5e);}
.gumb.svmodr:active{	background: #444b5e;}
.gumb.oranzen{	background-image: linear-gradient(#F0BE41, #D7A528);	}
.gumb.oranzen:hover{	background-image: linear-gradient(#F0BE41, #BD8B0E);	}	
.gumb.oranzen:active{	background: #BD8B0E;}
.gumb.siv{	background-image: linear-gradient(#cac8b3, #B0AE99);}
.gumb.siv:hover{	background: #B0AE99;}	
.gumb.siv:active{	background: #B0AE99;}
.gumb:active,.gumb:focus{	position:relative;	top: 1px;}

/*LINK*/
.link{	color: #444B5E;}.link:hover,.link:active,.link:focus{	color: #2B3245;}
.link.izvajalec{	color: #777E91; font-size: 16px;} .link.izvajalec:hover{	color: #5E6578;}
.link.album{	color: #444B5E; font-size: 19px;}	.link.album:hover{	color: #2B3245;}

/* SEARCH */
.search-box{ 	width: 60%; margin-right: 26px;}
.stretch{	flex: 1;}
.normal { flex: 0; margin: 0 0 0 1rem; }
.search-box div input { padding: .5em 1em; width: 100%; }
.search-box div button { padding: .5em 1em; white-space: nowrap; }
.search-box input[type=search]{  border: none;  font-size: 12pt;}
.search-box input[type=image]{border: none; height: 23px;}
.search-box input[type=image]:focus,.search-box input[type=image]:active{	top: 0px;}

/*NASLOVNA STRAN*/
.index-featured{		margin: 0 auto; margin-bottom: 20px;}
.flex-col-sp-around.featured{ margin-left: 15px; font-size: 19px;}
.index-featured.less{ font-size: 15px; }
.link.album.featured{ 	font-size: 26px;} .link.izvajalec.featured{ 	font-size: 18px;}
.link.album.featured.less{	font-size: 18px;} .link.izvajalec.featured.less{	font-size: 15px;}
.gumb.less{ font-size: 13px;} 
.floatingblock{     display: inline-block; width: 210px; margin-bottom: 15px; }

/*PRIJAVA IN REGISTRACIJA*/
#prijavi{	display: block;		padding-left: 15px;display: flex; justify-content: space-between;	padding-right: 15px;}
#registriraj{		display: none;	padding-left: 15px;	padding-right: 15px;}
.containerPri{	margin: 0 auto; 	border: 1px solid #cccccc;	width: 400px;	padding-bottom: 15px;	color: #312F1A;} .containerPri.admin{	padding-top: 10px;	padding-bottom: 10px;}
.PpriReg input{	padding: 10px;	margin: 0px; margin-bottom: 5px;	border:none;	width: 100%;	font-size: 17px;} .PpriReg input:active{	padding: 10px;	width: 100%;}
.PpriReg #gPrijava {	border-right: 1px solid #cccccc;	border-bottom: none;	color: #5C496E;	cursor: pointer;	background-color: white;}
.PpriReg #gRegistracija {	background-color: #dbdbdb;	cursor: pointer;	color: grey;}
#prijavi input:not([type="checkbox"]),
#registriraj input:not([type="checkbox"]){	width: 95%;	margin-top: 4px; margin-bottom: 4px; padding: 10px 5px 10px 10px;		border: 1px solid #a3a3a3;}
#logosr img{	display: block;    margin: 0 auto;    margin-bottom: 10px;}
.keeplogin input,.keeplogin label{	font-size: 12px;} .keeplogin input#loginkeeping{	margin-right: 5px;}
.containerPri p.pozGeslo a:hover,.containerPri p.pozGeslo a:active{	text-decoration: underline;}
.containerPri p.pozGeslo a{	font-size: 12px;	text-decoration: none;	}
.gumb.prij{	width: 100%;		font-size: 15px;	margin-bottom: 20px;}

/*SEZNAM*/
.potka{	font-size: 13px; padding-bottom: 0px;}.klikpotka{	color: #5C496E;} 
.razvrsti label{	padding-right: 20px;	font-size: 13px;} .razvrsti{	padding-bottom: 15px; float: right;}
.filtri{	width:25%;	font-size: 13px;	margin-bottom: 20px;} .filtri input{	margin-bottom: -10px;}
.filter-naslov{	font-weight: bold;	margin-bottom: 5px;	margin-top: 10px;}
.razpon input{	width: 30px;	padding: 5px 5px 5px 5px;} 
.gumb.filtr{ color:white; margin-top: 20px;}
.seznam{	width: 55%;	padding-left: 15px;	padding-right: 15px; border: 1px solid #cccccc;	padding-bottom: 5px;}
.artikel-posamezen{	padding-top: 15px;	padding-bottom: 15px;	border-bottom: 1px solid #cccccc;}
.artikel-podrobnosti {	padding-left: 15px;}
.artikel-leto{	font-size: 13px;}
.artikel-opis{		font-size: 12px;}
.gumb.oranzen.sez{		padding-top: 3px;	font-size: 15px;	padding: 5px;}

/*IZVAJALCI & ZANRI*/
.seznam2{	padding-top: 20px;} .seznam a{	padding-bottom: 5px;	color: #444B5E;}.seznam a:hover{	color: #11182B;}

/*IZVAJALEC*/
.zgori{width:80%; justify-content: space-between;}
.seznam3{ width: 80%; }
.artikelPodatki2.izvajalec label{	margin-top: -15px;	line-height: 50px;}

/*ARTIKEL*/
.artikel{width: 80%; padding-top: 20px;}
.zgori{	margin-bottom: 20px; }
.artikelIme{	font-size: 23px;	padding-right: 5px;}
.link.izvajalec.album{	font-size: 18px;	padding-bottom: 18px;}
.artikelOznaka{	font-size: 13px;}
.artikelZaloga{	padding-left: 20px;	font-size: 12px;}
.polje.artikel{	margin-top: 49px;	width:25px;	padding: 5px;	font-size: 13px;	margin-bottom: 10px;}
.artikelCena{	padding-left: 10px;	font-size: 18px;	padding-right: 121px;}
.artikelPodatki.album{margin-right: 50px;}
.artikelPodatki2{	font-size: 13px;	background-color: #e0e0be; padding: 10px;}
.gumb.artikel{	color: #e0e0be;	margin-top: 10px;	font-weight: bold;	font-size: 13px;	padding: 5px 5px 5px 5px;	width: 70%;}
.artikelVsebina{	font-size: 14px;	padding-bottom: 20px;}
.pesmi{	 padding: 5px 20px 0px 20px;}
ul.pesmi{	list-style-type: none;}
.pesmi li{	padding-bottom: 10px;}
.pesmioznaka{	font-weight: bold;	background-color: white; margin-bottom: 20px; font-size: 18px;}
.pesmivse{ 	background-color: #e0e0be;}

/*KOSARA*/
.seznam.kosarica{ border: 1px solid #cccccc; padding: 5px 0px 5px 0px;}
.kosaricaSkupaj{    padding: 10px;  background-color: #e0e0be;  height: 200px;}
.kosaricaSkupajLab {    font-weight: bold;  font-size: 18px;}
.kosaricaSkupajLab2.kos{    border:none;    margin-top: 35px;   margin-bottom: 0px;}
.kosaricaSkupaj label.kosaricaSkupajSt{ font-size: 12px;}
.polje.kolicina{width: 20px;}
.gumb.modr.blag{    color: white;   font-weight: bold;  margin-top: 10px;   width: 94%; font-size: 14px;    text-align:  center;    padding-bottom: 10px;   padding-top: 10px;}
.gumb.modr.blag.druga{  margin-top: 20px;}
.kosaricaArtikel{   padding: 15px;  border-bottom: 1px solid #cccccc;}
.kosaricaKolicina{  align-items: center;    font-size: 15px;}
.kosaricaCena{      font-size: 15px;}
.kosaricaCena2{ font-size: 20px;    font-weight: bold;}
.kosaricaOdstrani{  margin-top: -34px;}

/*SEZNAM ZELJA*/
.seznam.zelje{padding: 5px 0px 5px 0px;}
.zeljeArtikel{  padding: 15px; border-bottom: 1px solid #cccccc;}
.zeljeIme{  padding-left:  15px;}
.kosaricaOdstrani.kupi {    margin-top: -90px;}
.kosaricaOdstrani.dodaj {   margin-top: 20px;}
.zeljeGumb input{   margin-bottom: 5px; font-size: 13px;    color: white;   font-weight: bold;}


.logo img{
	width: 60%;
	height: auto;

}

.prodajalec{
	margin-top: 6px;
	margin-left: -200px;
}

.artikel-opis.izvajalec{
	padding-top: 41px;
}







/*ZGODOVINA*/
.zeljeCena.zgodovina{
	margin-left: 400px;
}
/*BLAGAJNA*/
.blagajna{
	color: #312F1A;
}
.kosaricaSkupajLab{
	font-weight: normal;
}
.kosaricaSkupaj.blagajna{
	margin-top: 50px;
	width: 25%;
}
.kosaricaSkupajLab2{
	display: flex;
	justify-content: space-between;
	margin-bottom: -5px;
	margin-top: 10px;
	border-top: 1px solid #312F1A;
	padding-top: 5px;
}
.kosaricaSkupajLab {
	font-size: 22px;
}
.kosaricaSkupajIzdelek{
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
}
.kosaricaSkupajLab.cena.blag{
	font-weight: bold;
}

.logo.blagajna{
	float: left;
	margin-left:  10%;
}
.blagajna-naslov{
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 20px;
}
.blagajnaArtikel{
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
}
.blagajnaArtikel a{
	color: #444B5E;
}
.blagajnaArtikel a:hover{
	color: #2b3245;
}
.blagajnaokvir{
	display: flex;
	flex-direction: column;
}
.blagajnaglava h2{
	margin-left: 50px;
	margin-top: 15px;
}
.blagajnaglava a{
	margin-right: 30px;
}
.blagajna{
	font-family: "Helvetica";
	display: flex;
	justify-content: flex-start;
}
.blagajna2{
	margin-left: -20%;
	width: 70%;
	margin-right: 30px;
	display: flex;
	flex-direction: column;	
}

.blagajnaPovzetek{
	display: flex;
	flex-direction: column;
	border: 1px solid #cccccc;
	padding: 10px;
}
.blagajnaPovzetek input{
	margin-top: 5px;
	margin-bottom: 5px;
	height: 15px;
	font-size: 15px;
}
/*NASTAVITVE*/
.seznam.nastavitve{	padding: 15px;}
.seznam.nastavitve h3{margin-top: 10px;}
.seznam.nastavitve input{	width: 98%;	height: 20px;	margin-top : 5px;	margin-bottom : 5px;	padding: 5px;	font-size: 14px;}
.gumb.modr.nastavitve{	margin-top: 15px;	font-weight: bold;	color: white;	padding-top: 7px;	padding-bottom:  7px;}


/*ADMIN*/
.domacaAdmin{
	margin-left: 10%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-top: 40px;
	color: #312F1A;
}
.razdelek{
	font-family: "Helvetica";
	display: flex;
	flex-direction: column;
	border: 1px solid #cccccc;
	width: 50%;
	padding: 10px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.razdelek input[type=search]{
	font-family: "Helvetica";
	width: 80%;
	padding: 5px 10px 5px 10px;
	font-size: 16px;
}
.razdelek a{
	margin-top: 0.5px;
	font-size: 16px;
	margin-left: 0px;
	color: #312F1A;
	padding: 6px 10px 5.5px 10px;
	border: 1px solid #cccccc;
}
.gumb.admin{
	margin-top: 10px;
	width: 20%;
	padding: 5px 10px 5px 10px;
	color: white;
	font-weight: bold;
}
.blagajna-naslov.admin{
	margin-top: -5px;

}
.blagajnaArtikel.admin a{
	border: none;

}
.blagajnaArtikel.admin{
	margin-right: 80px;
	border: 1px solid #cccccc;
	padding-right: 5px;
}
.blagajnaArtikel.admin label{
	padding-top:5px;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.gumb.siv.slika{
	padding: 5px;
	width: 26%;
}
.kanvas{
	background-image: url("slike/placeholder.png");
	background-size: 100%;
	margin-top: -10px;
	margin-bottom: 10px;
	width: 200px;
	height: 200px;
}
.artikelPodrobnosti{
	display: flex;
	flex-direction: row;
}
.artikelPodrobnosti2{
	display: flex;
	flex-direction: column;
}

.artikelNov{
	border: 3px solid #f1f1f1;
	padding: 10px;
}

.narocila{
		display: flex;
	flex-direction: column;
}
.narocila2{
		display: flex;
		border: 3px solid #f1f1f1;
		padding: 10px;
}
/*ZAJEM SLIKE*/
#video {
  border: 1px solid #cccccc;
  display: block;
  width:213.3px;
  height:160px;
  margin-right: 5px;
}

#canvas {
  	border: 1px solid #cccccc;
  	width: 213.3px;
    display: block;
    height: 160px;
}
.camera {
  width: 213.3px;
  display:inline-block;
}

.output {
  width: 213.3px;
  display:inline-block;
}

.flex-col.novartikel{
	margin-right: 30px;
}

.wrapper2{
	display: flex;
	flex-direction: column;
	width: 70%;
	border: 1px solid #cccccc;
	margin-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
.wrapper2 h3{
	padding-top: 10px;

}

